:root {
  --darkChocolate: #3d40ff; 
  --mudSlide: #110c3f; 
  --warmWhite: #f6f6f6;
  --lightMudSlide: #87b0f8; 

  --mineShaft: #181012; 
  --purpleHighlight: #489cb8; 
  --steelBlue: #4d636b; 
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mudSlide);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
